include ./logo

mixin header(headerMods, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Home",
      },
      {
        href: "#",
        text: "Link Building",
        submenu: true,
        submenuID: 'link-building',
        items: [
          {
            href: "#",
            text: 'CUSTOM LINK BUILDING'
          },
          {
            href: "#",
            text: 'ENTERPRISE SOLUTIONS'
          },
          {
            href: "#",
            text: 'CUSTOM LINK BUILDING'
          },
          {
            href: "#",
            text: 'ENTERPRISE SOLUTIONS'
          },
          {
            href: "#",
            text: 'Scalable Link Building'
          },
        ]
      },
      {
        href: "#",
        text: "Digital PR"
      },
      {
        href: "#",
        text: "Content Creation",
      },
      {
        href: "#contact",
        text: "Contact Us",
      },
    ]

  header.header(class=headerMods)
    .header__container
      if(currentPage === 0)
        a.logo(href="#")
          +logo()
      else
        a.logo(href="index.html" aria-label="Переход на главную")
          +logo()
      // class="header-menu--closed"
      // class="header-menu--opened"
      nav.header__menu.header-menu.header-menu--closed
        // class="menu-button[aria-expanded="true"]"
        button.header-menu__button.menu-button(type="button" aria-label="Переключатель отображения меню" aria-expanded="false")
          span.menu-button__icon
        ul.header-menu__list
          each link, index in headerLinks
            if link.submenu !== true
              li.header-menu__item
                a.header-menu__link(href=link.href)=link.text
            else
              li.header-menu__item.header-menu__item--submenu
                span.header-menu__link.submenu-toggle(easy-toggle=`#${link.submenuID}` easy-class="active")=link.text
                ul.submenu(id=link.submenuID)
                  each submenuItem in link.items
                    li.submenu__item
                      a.submenu__item-link(href=submenuItem.href)=submenuItem.text
      .header__actions.header-actions
        +appButton('secondary', 'link', '#contact', 'Book Call').header-actions__button-publica
      .header-actions__lang-select.lang-select(id="lang-select")
        .lang-select__selected-value(easy-toggle="#lang-select" easy-class="active")
          .lang-select__selected-img-wrap
            +imgWebp('regions','uk-circle-01', 'png', 37, 37, 'uk')
          .lang-select__selected-text en
        ul.lang-select__options-list
          li.lang-select__option
            a(href="https://www.google.ru/" target="_blank") English
          li.lang-select__option
            a(href="https://www.google.ru/" target="_blank") Other



